body { margin:0; padding:0; }
#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    z-index:1}
h1{
    font-family: 'Abril Fatface', cursive;
    color: #328876;
}
p{
    font-family: 'Roboto', serif;
    color: #05386B;
    font-size: 15px;
    font-weight:bold;
}
#nav_bar{
    width: 100%;
    height: 10%;
    display: inline-block;
    background-color:#5CDB95;
    text-align: center;
}
#nav_bar i{
    display: inline-block;
    color: #05386B;
}
#menu{
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    z-index: 5;
    bottom: 15px;
    right: 15px;
  }
#menu i{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #5CDB95;
    text-align: center;
    line-height: 50px;
    margin: 10px;
}
#menu i:hover{
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear ;
    -webkit-transform:scale(0.9);
    -moz-transition:scale(0.9) ;
    background-color: #8EE4AF;
    cursor: pointer;
}
#addStop{
    position: absolute;
    display: none;
    margin: 10% 20%;
    z-index: 5;
    width: 60%;
    height: 65%;
    background-color: #8EE4AF;
    box-shadow: 3px 3px rgba(0,0,0,0.2);
}
#explore{
    position: absolute;
    display: none;
    z-index: 4;
    margin: auto;
    width: 0;
    height: 100%;
    background-color: #05386B;
    box-shadow: 3px 3px rgba(0,0,0,0.2);
}
#addStop i{
    float: right;
    font-size: 25px;
    color: #05386B;
    margin: 10px;
    cursor: pointer;
}
form{
    height: 100%;
    padding: 10px 5%;
}
input{
    width: 95%;
    border: none;
    border-radius: 10px;
    line-height: 20px;
    padding: 5px;
    padding-left: 10px;
}
textarea{
    width: 95%;
    border: none;
    border-radius: 10px;
    line-height: 20px;
    padding: 5px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size:13px;
}
#submitButton{
    width:100px;
    padding: 10px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    background-color: #05386B;
    color: whitesmoke;
    cursor: pointer;
}
#submitButton:hover{
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear ;
    background-color: #042b53;
}